.slider {
  position: relative;
  height: 380px;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  max-width: 1400px;
}
.slider-img {
  height: 380px;
  width: 520px;
  position: absolute;
  border-radius: 16px;
  transition: all ease-out 0.2s;
  background-color: #ff034a;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
#img0 {
  z-index: 3;
}
#img1 {
  z-index: 2;
  transform: translateX(50%) scale(0.8);
  filter: blur(0.5px);
}
#img2 {
  z-index: 1;
  transform: translateX(70%) scale(0.7);
  filter: blur(1px);
}

#img3 {
  z-index: 1;
  transform: translateX(-70%) scale(0.7);
  filter: blur(1px);
}

#img4 {
  z-index: 2;
  transform: translateX(-50%) scale(0.8);
  filter: blur(0.5px);
}

.arrow {
  position: absolute;
  height: 36px;
  width: 36px;
  top: 50%;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  padding: 8px;
}
.arrow:hover {
  cursor: grab;
}

#left-arrow {
  transform: translate(100%, -50%);
  left: 0;
}
#right-arrow {
  left: 100%;
  transform: translate(-200%, -50%);
}

@media screen and (max-width: 920px) {
  .slider-img {
    height: 240px;
    width: 380px;
  }
  .tablet-none {
    display: none;
  }
  .hero {
    flex-direction: column;
  }
  .slider {
    height: 240px;
  }
  .filter-btn {
    display: block;
  }
}
@media screen and (max-width: 576px) {
  .slider-img {
    height: 160px;
    width: 300px;
  }
  .slider {
    height: 160px;
  }
  .arrow {
    height: 24px;
    width: 24px;
  }
}
