.navbar-brand {
  font-size: 32px;
  font-weight: 800;
  background: linear-gradient(to right, var(--danger), var(--cyan));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hor-nav {
  background-color: rgba(0, 0, 0, 0.5);
}
